body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.react-flow__node-selectorNode {
    font-size: 12px;
    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    min-width: 8vw;
    padding: 1.5em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  }

.Graph {
    font-family: sans-serif;
    padding: auto;
    width : 100vw;
    height: 100vh;
    left: calc(50% - 30rem);
    right: calc(50% - 23rem);
    position: fixed;

  }
