.App-question {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.question-container {
    background: var(--dark-opacity);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--dark-font-color);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.question-section {
    /* background: var(--color-background);
    padding: calc(4 * var(--size-bezel));
    margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor); */
    background-color: #252d4a;
    width: 650px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
}

.question-text {
    margin-bottom: 12px;
    color: white;
}

.option-section {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.option-button {
    background: #FEEF00;
    border: 1px solid #FEEF00;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.option-button:hover,
.option-button:active {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.option-button:active {
    opacity: .5;
}

.option-feedback {
    background-color: #F5F5FA;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem;
    text-align: left;
    width:45rem;
    z-index: 10;
    position: fixed;
    top: 36vh;
    left: calc(50% - 20rem);
    font-family: 'Poppins', sans-serif;
  }
  p{
    font:inherit;
    text-align: left;
    font-size: 1.5rem; 
    color: #121212;
  }

  .bg-color-purple{
      background-color: #737ABB;
      border-color: #737ABB;
  }
*/
/* .QuestionContainer {
    position: absolute;
    width: 1112px;
    height: 413px;
    left: 169px;
    top: 189px;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), -10px -10px 20px #FFFFFF;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}